// Bootstrap overrides - variables that you can modify.

// Layout
// ----------------------------
// $grid-gutter-width: 60px !default;

// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1200px
// ) !default;

// Fonts
// ----------------------------
// $font-family-sans-serif: $font-text !default;
// $font-family-base: $font-text !default;
// $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $font-size-vlg: 1.375rem !default;
// $font-size-lg: 1.25rem !default;
// $font-size-mdlg: 1.125rem !default;
// $font-size-mdsm: 0.94rem !default;
// $font-size-sm: .875rem !default;
// $font-size-vsm: 0.8125rem !default;
// $font-size-svsm: 0.74rem !default;

// Color of body text
// ----------------------------
// $body-color: $color-hecuba !default;
// $headings-color: $color-cassandra !default;

// Color of dropdown border
// ----------------------------
// $dropdown-border-color: $color-andromache !default;

// Buttons
// ----------------------------
// $btn-border-radius: 0 !default;
// $input-btn-padding-y: 0.90rem !default;
// $input-btn-padding-x: 1rem !default;
// $input-btn-border-width: 0.125rem !default;
// $primary: #363636 !default;
