// All web styles for the subtheme.

@import "config/all";
@import "../../../../profiles/contrib/droopler/themes/custom/droopler_theme/scss/style";

//header.header .region-primary-menu {
//  margin-top: 0;
//}
//
//header.header .navbar {
//  padding: 0 !important;;
//}
//header.header .region-primary-menu .region-we-mega-menu .navbar {
//  padding: 0;
//}
//
//header.header > nav.navbar-wrapper {
//  padding-top: 0;
//}
//
.navbar-brand {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
//
.paragraph--type--d-p-banner .content-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
//
.d-media-background-wrapper {
  &:hover {
    picture {
      filter: grayscale(0);
    }
  }
  picture {
    filter: grayscale(60%);
  }
}

